@tailwind base;

/* Write your own custom base styles here */
body {
    @apply bg-ghost_white;
    max-width: 100vw;
    min-height: 100vh;
}

#__next {
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    min-height: 100vh;
}

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write your own custom component styles here */
.channel {
    background-color: #fff;
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
